{% extends "contracts/base.html" %}
        
{% block content %}
                          
<h2 class="text-center mb-3">MY CONTRACTS:</h2>
<!-- Begin Table -->
<div class="container py-4">
<!--<input class="form-control" id="myInputIndex" type="text" placeholder="Search contracts repository..">-->
     <h1>My Contracts</h1>
	<details>
                    <summary>Description</summary>

	   <p>Click row to display details!</p>
	</details>

	<input class="form-control" id="myInput" type="text" placeholder="Search contracts repository..">

	<BR/>
            <div class="container text-center">
      <a class="btn btn-info"  href="{% url 'contracts:new_contract'%}">New Contract</a>
      </div>
	<br />
		<table class="table">
			<thead>
				<tr>
					<th>Contract No.</th>
					<th>Title</th>
					<th>Effective Date</th>
					<th>Expiration Date</th>
					<th>Status</th>
				<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody  id="myTable">
			   {% for my_contract in my_contracts %}

				<tr class="accordion-toggle" data-toggle="collapse"
					data-target="#{{ my_contract.contract_number }}"}>
					<td>{{ my_contract.contract_number }}</td>
					<td>{{ my_contract.title }}</td>
					<td> {{ my_contract.effective_date}} </td>
					<td> {{ my_contract.expiration_date}} </td>
 					<td>{{ my_contract.contract_status }}</td>

					<td>
<!--						<td><a class="btn btn-info"  href="/email" ><iclass="icon-search icon-white">Email</i></a></td>-->
						<td><a class="btn btn-info"  href="{% url 'contracts:pdf' my_contract.id %}"  target="_new">Report</a></td>
						<td><a class="btn btn-info"  href="{% url 'contracts:detail' my_contract.id %}">Details</a></td>
						<td><a class="btn btn-info"  href="{% url 'contracts:edit_contract' my_contract.id %}">Edit</a></td>
						<td><a class="btn btn-info"  href="{% url 'contracts:delete_contract' my_contract.id %}">Delete</a></td>

					</td>


				</tr>

					<tr>

					<td colspan="3">
								<div id="{{ my_contract.contract_number }}" class="collapse in">


							<b>Type</b>
                            <br />

						 <div class="col">	{{ my_contract.contract_type|safe}}	</div>
                                    <b>Office</b>
                            <br />

										 <div class="col">{{ my_contract.office}}</div>

							<br />

                                    <b>Prime PM</b>
                            <br />

							 <div class="col">{{ my_contract.prime_pm}} </div>

							<br />

							-<b>Short Description</b>
                            <br />

						 <div class="col">	{{ my_contract.short_description|safe}}	</div>


															</div>
					</td>
				</tr>


  {% endfor %}

			</tbody>
		</table>

</div>

            <div class="container text-center">
      <a class="btn btn-info"  href="{% url 'contracts:new_contract'%}">New Contract</a>
      </div>
      </div>


</div>
<!-- End Table -->

      <script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

{% endblock content %}
